
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        /* background-color:#8F3212;     */
        background: url(../img/background5.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
        p{letter-spacing: 1px;}
    .border {
        border: 1px solid #ddd;
        border-radius: 4px;
    }
        hr.light {
        max-width: 50px;
        border-color: #E03E07;
        border-width: 3px;
    }
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 30px;
        margin-bottom: 20px;}
    .main{
        margin-top:0px;
        box-shadow: 0 0 15px rgba(0,0,0,0.35);
    }
    .navbar {
        margin-bottom:0px;
        min-height: 70px;
    }
    
    .navbar-custom {
        background-color: #E03E07;
        }	
        .navbar-custom .navbar-nav > li > a {
            padding-top:25px;
            padding-bottom:25px;
            font-family: 'Open Sans', sans-serif;
    
            color: #fff;
        }
        .navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
            color: white;
            background-color: #00B28A;
        }
        .navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
            color: white;
            background-color: #00B28A;
        }
        
        .navbar-custom .navbar-toggle {
            border-color: #fff;
        }
        .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
            background-color:#00B28A;
            
        }
        .navbar-custom .navbar-toggle .icon-bar {
            background-color: #fff;
        }
    
        
        .navbar-custom .navbar-link {
            color: #fff;
        }
        .navbar-custom .navbar-link:hover {
            color: #00B28A;
        }
        .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
        background-color: #00B28A;
        }
        @media (max-width: 767px) {
            
           .navbar-custom .navbar-nav > li > a {
                padding-top: 18px;
    padding-bottom: 18px;
    text-align: center
            }
    
            .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    
                color: #fff;
            }
            .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
                color: #ffffff;
            }
            .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
                color: #ffffff;
                background-color: #BF691C;
            }
            
           
        }
    
        .navbar-brand {
    
            padding-top: 0px;
        }
          
    
    
              @media (min-width: 767px) {
        .navbar-nav{
           margin-left:30px;
        }
        
    }
    
        @media (min-width: 1200px) {
        .container{
            max-width: 1160px;
        }
    }
    
    .thumbnail {
        padding:0px;
    }
    .btn-default {
        border-color:#E03E07;
        background-color: #E03E07;
        color:#fff;
    
    }
    .btn-default:hover{
        border-color:#00B28A;
        background-color: #00B28A;
        color:#fff;
    }
    .btn-default:focus{
        border-color:#00B28A;
        background-color: #00B28A;
        color:#fff;
    }
    .btn-default:active{
        border-color:#00B28A;
        background-color: #00B28A;
        color:#fff;
    }
    .footernav a{
        text-decoration: none;
        color:#fff;
        text-align:justify;
        display: block;
        list-style:none;
    }
    .footernav ul{
        padding:0px;
    }
    .telephone {position:relative;}
    
    
    /*Toogle Box CSS*/
    .toggle-box {
        margin-top: 0px;
    }
    
    .toggle-box p {
        margin: 0;
        padding: 0;
    }
    
    .toggle-title {
        width: 100%;
        margin-bottom: 10px;
        padding: 6px;
        background: #eee;
        border: 1px solid #eee;
        cursor: pointer;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color:#E03E07;
    }
    
    .toggle-title:hover,
    .toggle-title:active {
        background: #E03E07;
        color: white;
    }
    
    .active {
        background: #E03E07;
        color: white;
    }
    
    .toggle-title a {
        color: #E03E07;
    }
    
    .toggle-content {
        padding: 6px;
    }
    
    .sidenav {
        height: 100%; 
        position: static;
        z-index: 1;
        top: 0; 
        left: 0;

        overflow-x: hidden; 
        padding-top: 8px;
        padding-bottom: 8px; 
        transition: 0.5s; 
        border-radius:5px
    }
    
    @media screen and (max-width: 768px) {
        .sidenav {text-align: center}
     .sidenav a{padding: 8px 8px 8px 8px;}
      .sidenav a {font-size: 18px;}
    }
    .navbar-collapse{
    
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
        -webkit-overflow-scrolling: touch;
    }
    @media (max-width: 992px) {
      .container {
        width: 100%;
       }
       .navbar-nav {
        margin: 15px -12px;
        }
     }
     .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    
        border-top: 0px;
        border-bottom: 0px;
    }
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }
    
    #form-style {
        width: 500px;
        margin: auto
    }
    
    #form-style-2 {
        width: 250px;
        margin: auto
    }

    #login {
        display:none
    }
    #signup {
        display:none
    }
    #profile {
        display:none
    }
    #myorders{
           display:none
    }
    @media screen and (max-width: 468px) {
    
      .btnq{
          margin-bottom: 5px
      }

    }
    .btn-default{
        align-self: center
    }
    
    /* NEW CSSS */
    .btn-default {
        border-color: #00B28A;
        background-color:transparent;
        color: #00B28A;
    }
    .btn-default:hover {
        border-color: #00B28A;
        background-color: #00B28A;
        color: #fff;
    }
    
    .btn-default-s {
        border-color: #00B28A;
        background-color: #00B28A;
        color: #fff;
    }
    .btn-default-s:hover {
        border-color: #00B28A;
        background-color:#009472;
        color: #fff;
    }
    
    .sidenav a {
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        border:1px solid transparent;
        border-color: #E05A23; 
        color: #E05A23;
        display: block;
        transition: 0.3s;
        margin-bottom:10px;
        border-radius: 10px;
        text-align: center;
    }
    
    .sidenav :hover {
        background-color:#FF5F29;
        color: #fff;
    }
    .main {
        -webkit-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.49);
        -moz-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.49);
        box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.49);
    }
    
    .navbar-brand {
      
        padding-top:15px;
        padding-right:0px;
        padding-left:15px;
    }
    .navbar-brand img 
    {
        width:180px;
    }
    
    .headerPic{
        background-image:url(../img/burger2.jpg);
        max-height:400px;
        min-height:500px;
        background-size:cover;
        background-position:top;
       position:relative;
        color:#fff;
        padding-top:30px;
    }
    .box{
        position:relative;
      }
      
      .img-title{
        position: absolute;
        color: #fff;
        text-align: center;
        left: 0;
        right: 0;
        top: 10%;
        letter-spacing: 3px;
      }
    
      
     @media (min-width: 767px) {
        .navbar-nav{
           margin-left:50px;
        }
        
/*        dropdown hover

            .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; 
        }

        .dropdown:hover .dropdown-menu {
        display: block;
        }*/
         .dropdown .dropdown-menu {
            margin-top: 0; 
        }
          .dropdown:hover .dropdown-menu {
            margin-top: 0; 
        }
    }
      .activeTab {
        background-color:#E03E07;
        color: white !important;
    }
    #loader {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 999999; 
  cursor: pointer; 

}
.loader {
  border: 12px solid #f3f3f3; 
  border-top: 12px solid #00B28A; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.alert-success {
    display: none
}